<div class="div-block-15">
  <div class="div-block-16">
    <div class="div-block-17">
      <img loading="lazy" src="{{ 'dna-helix-png-3d-transparent-background-1.png' | asset_url }}" alt="" class="image-6">
      <img loading="lazy" src="{{ 'dna-helix-png-3d-transparent-background-1.png' | asset_url }}" alt="" class="image-7">
      <div class="text-block-11"><strong class="bold-text-2">Wenn Genetik droppt – du erfährst es zuerst.</strong></div>
      <div class="text-block-12">Melde dich zum Newsletter an und erfahre als Erster, wenn neue Cuts verfügbar sind.</div>
      <div class="w-form">
        <form method="post" action="/contact#contact_form" accept-charset="UTF-8" class="form" id="contact_form">
          <input type="hidden" name="form_type" value="customer">
          <input type="hidden" name="utf8" value="✓">
          <input class="text-field w-input" maxlength="256" name="contact[email]" placeholder="Email" type="email" required>
          <input type="submit" class="submit-button w-button" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Newsletter",
  "settings": [],
  "presets": [{ "name": "Home Newsletter" }]
}
{% endschema %}

