<div class="div-block-19">
  <div class="div-block-20">
    <div class="div-block-21">
      <img src="{{ 'Layer_2.png' | asset_url }}" loading="lazy" alt="" class="image-8">
    </div>
    <div class="div-block-22">
      <div class="div-block-23">
        <div>
          <a href="#" class="link-5">Genetiken</a>
        </div>
        <div class="div-block-24">
          <a href="#" class="link-6">Select</a>
          <a href="#" class="link-6">Classic</a>
          <a href="#" class="link-6">Elite</a>
          <a href="#" class="link-6">Royal</a>
        </div>
      </div>
      <div class="div-block-23">
        <div>
          <a href="{{ routes.all_products_collection_url }}" class="link-5">Shop</a>
        </div>
        <div class="div-block-24">
          <a href="#" class="link-6">AGB</a>
          <a href="#" class="link-6">Zahlung and versand</a>
        </div>
      </div>
      <div class="div-block-23">
        <div>
          <a href="#" class="link-5">Resources</a>
        </div>
        <div class="div-block-24">
          <a href="#" class="link-6">FAQ</a>
          <a href="#" class="link-6">Tissue Culture</a>
          <a href="#" class="link-6">Dungerrechner</a>
          <a href="#" class="link-6">Sops</a>
        </div>
      </div>
      <div class="div-block-23">
        <div>
          <a href="#" class="link-5">Unternehmen</a>
        </div>
        <div class="div-block-24">
          <a href="#" class="link-6">uber</a>
          <a href="#" class="link-6">impressum</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="text-block-13">©{{ 'now' | date: '%Y' }} {{ shop.name }}. All rights reserved.</div>
  </div>
</div>

